<template>
  <div class="hello" >
    <h1>Display Authors</h1>
      <div id="div">
        <table width=100% >
          <tr>  <td><router-link to="/"> SignUp </router-link></td>
          <td> <router-link to="login"> LogIn </router-link></td>
          <td><router-link to="insert"> Insert </router-link></td></tr>
        </table>
        <table width=100% id="ct">
    <thead>
        <tr id="hd">
            <td>ID</td>
            <td>Name</td>
            <td>Bio</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr v-for="user_alias in User">
            <td>{{user_alias.id}}</td>
            <td>{{user_alias.firstname}}</td>
            <td>{{user_alias.bio}}</td>
            <td><router-link to="update"> Update </router-link></td>
            <td><router-link to="delete"> Delete </router-link></td>



        </tr>
    </tbody>
  </table>
      </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
export default {
  name: 'Display Authors',
  data() {
      return {
          User: [],
  }
},
  mounted() {
      axios.get('http://localhost:8000/authors_dis')
      .then((response) => {
        console.log(response.data);
        this.User = response.data;
      })
      .catch((error) => {
        console.log(error);
      });

  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: grid;
  margin: 0 10px;
}

a {
  color: #42b983;
}
#div {
  width: 300px;
  align-items: stretch;

}
#hd {
  align-items: center;
}

#ct {
  margin: auto;
}
</style>
