<template>
  <div class="hello" id="div">
    <h1>Insert Record </h1>
    <form action="/item">
      <div>
              <router-link to="display"> Display </router-link>
      </div>
      <ul>

      <div class="form-group">
      <li>  <label for="firstname">Name</label> </li>
        <li> <input type="text"  id="firstname" class="form_control" placeholder="firstname" align="center" v-model="item.fstnm"> </li>
      </div>

      <div class="form-group">
        <li> <label for="lastname">Bio</label> </li>
      <li>  <input type="text"  id="lastname" class="form_control" placeholder="lastname"  v-model="item.lstnm"> </li>
      </div>

      <div>
        <input type="checkbox"> I agree with terms and conditions
      </div>
      <br>
      <div>
       <button type="button" class="btn_control" @click="addtoapi"><h2> Insert </h2> </button>
      </div>
    </ul>
    </form>

  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'insert',
  data () {
    return {
     item: { name: '',
             bio: ''
           }
    }
  },
  methods: {
    addtoapi() {
      axios.post('http://localhost:3000/insrt', this.item).then(response => { console.log(response,"sucess"); });
    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: grid;
  margin: 0 10px;
}

a {
  color: #42b983;
}
#div {
  width: 300px;
  margin: auto;

}
label {
  text-align: center;
}
</style>
