<template>

    <div class="container" id="div">
      <h1>{{ msg }}</h1>
      <form>
        <div>
            <router-link to="/"> SignUp </router-link>
        </div>
        <ul>
        <div class="form-group">
        <li>  <label for="email">Email Id</label> </li>
        <li>  <input type="email"  id="email" class="form_control" placeholder="email id"> </li>
        </div>
        <div class="form-group">
        <li>  <label for="Password">Password</label> </li>
        <li>  <input type="password"  id="password" class="form_control" placeholder="password"> </li>
        </div>
        <br>
        <div>
       <button type="button"  class="btn_control"><h3> Save </h3> </button>
      </div>
      </ul>
      </form>
    </div>
</template>

<script>
/* eslint-disable */

import axios from 'axios'

export default {
  name: 'login',
  data(){
  return {
  msg: 'LogIn',
  }
  }
  }
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: grid;
  margin: 0 10px;
}

a {
  color: #42b983;
}
#div {
  width: 300px;
  margin: auto;

}
label {
  text-align: center;
}
</style>
