<template>
  <div class="hello" id="div">
    <h1>Update Record</h1>

      <div>
              <router-link to="display"> Display </router-link>

      </div>
      <ul>
      <form v-on:submit.prevent="updateitem" action="/items">

      <div class="form-group">
        <li>  <label for="id">Id</label> </li>
          <li> <input type="text"  id="id" class="form_control" placeholder="id" align="center" v-model="item.id" value="items.id"> </li>
      </div>

      <div class="form-group">
      <li>  <label for="firstname">First Name</label> </li>
        <li> <input type="text"  id="firstname" class="form_control" placeholder="firstname" align="center" v-model="item.fstnm" value="items.firstname"> </li>
      </div>

      <div class="form-group">
        <li> <label for="lastname">Last Name</label> </li>
      <li>  <input type="text"  id="lastname" class="form_control" placeholder="lastname" v-model="item.lstnm" value="items.lastname"> </li>
      </div>

      <div class="form-group">
        <li> <label for="email">Email Id</label> </li>
      <li>  <input type="email"  id="email" class="form_control" placeholder="email id" v-model="item.email" value="items.email"> </li>
      </div>

      <div class="form-group">
      <li>  <label for="Password">Password</label> </li>
      <li>  <input type="password"  id="password" class="form_control" placeholder="password" v-model="item.pass" value="items.password"> </li>
      </div>

      <div class="form-group">
      <li>  <label for="lastname">City</label> </li>
      <li>  <input type="text"  id="city" class="form_control" placeholder="city" v-model="item.city" value="items.city"> </li>
      </div>

      <div class="form-group">
      <li>  <label for="lastname">State</label> </li>
      <li>  <input type="text"  id="state" class="form_control" placeholder="state" v-model="item.state" value="items.state"> </li>
      </div>

      <div class="form-group">
      <li>  <label for="phnno">Contact No.</label> </li>
      <li>  <input type="text"  id="phn" class="form_control" placeholder="contact" v-model="item.phn" value="items.phn"> </li>
      </div>

      <div>
        <input type="checkbox"> I agree with terms and conditions
      </div>
      <br>
      <div>
       <button type="button" class="btn_control"><h2> Update </h2> </button>
      </div>
    </form>

    </ul>

  </div>
</template>

<script>
/* eslint-disable */

import axios from 'axios'

export default {
  name: 'update',
  data () {
    return {
      items: {},
      item: { fstnm: '', lstnm: '', email: '', pass: '',  city: '', state: '', phn: '' }
    }
  },
  created: function(){
            this.getitem();
        },

  methods: {
    getitem()
    {
      axios.get('http://localhost:3000/' + this.$route.params.id).then((response) => {
        this.items = response.data;
      });
    },

    updateitem()
    {
      axios.post('http://localhost:3000/' + this.$route.params.id , this.item).then((response) => {
        this.$router.push({name: 'display'});
    });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: grid;
  margin: 0 10px;
}

a {
  color: #42b983;
}
#div {
  width: 300px;
  margin: auto;

}
label {
  text-align: center;
}
</style>
